*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
}

.topo{
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textotopo{
    width: 299px;
    height: 31px;
    left: 620px;
    top: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 31px;
    color: #f9f9f9;
}

.titulo{
    width: 100%;
    height: 60px;
    left: 0px;
    top: 60px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.textotitulo{
    width: 160px;
    height: 47px;
    left: 690px;
    top: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 47px;
    color: #181818;
}

.logo{
    position: relative;
    width: 100%;
}

.imglogo{
    position: relative;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.texto1{
    position: absolute;
    width: 400px;
    left: 100px;
    top: 129px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #f9f9f9;
}

.texto2{
    position: absolute;
    width: 460px;
    left: 100px;
    top: 187px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    color: #f9f9f9;
}

section{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.contdesc{
    margin-top: 58px;
    margin-bottom: 20px;
}

.titulocont{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 63px;
    color: #181818;
}

.desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #474747;
}

.linha1{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.linha2{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.q{
    width: 300px;
    height: 302px;
    margin-right: 13px;
    margin-top: 39px;
    background: #ebe9ea;
}

.img{
    width: 250px;
    height: 150px;
    margin-top: 76px;
}

footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #181818;
}

.textofooter{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;

    color: #f9f9f9;
}